[package]
name = "eq_wld"
version = "0.2.1"
authors = ["Chad Jablonski <chad@jablonski.xyz>"]
edition = "2018"
description = "An Everquest .wld file loader"
repository = "https://github.com/cjab/eq_wld"
readme = "README.md"
keywords = ["everquest", "eq", "wld", "loader"]
categories = ["game-development", "graphics", "parsing", "rendering::data-formats"]
license = "MIT"

[workspace]
members = ["tools/*"]

[dependencies]
log = "0.4.14"
env_logger = "0.9"
nom = "5.1.2"
num-traits = "0.2"
num-derive = "0.3"
encoding_rs = "0.8"
